.sidebar1{
    margin:0;
    width:250px;
    float: right !important;
    margin-right:50px;
    position:relative;
    padding: 0;
    text-align: left;

}
.sidebar1contents{
    padding:5px 0px 5px 0px;
}
	
.App{
background-color: #83eac3;
}

h4 {
    text-align: initial;
    margin: 22px;
    font-variant-caps: all-petite-caps;
}

a3 {
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    color: black;
}

a.btn.btn-history {
    color: aquamarine;
    background: black;
    border: 2px solid whitesmoke;
}

.table-bordered td, .table-bordered th {
    border: 4px solid black;
}

a#home-tab {
    background: black;
    color: yellow;
}

.userprofile {
    text-align: initial;
}

label {
    color: black;
    font-weight: bold;
    margin-left: 9%;
}

a4 {
    font-size: 15px;
    font-variant-caps: all-petite-caps;
    color: brown;
    font-family: cursive;
}

h7 {
    font-size: x-large;
    font-weight: bold;
    text-decoration: solid;
    font-family: cursive;
}
a.btn.btn-location {
    background: black;
    color: aquamarine;
    font-variant-caps: all-petite-caps;
}

.container {
    background: transparent;
    margin-left: 14%;
}