.App{
    background-color: #A1DDB2;
}

.header{
    background: black;
}
*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

.searchform{
  margin-top: 60px;
}

.navbar-brand {
    font-size: 1.8rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: cursive;
}

.navbar-light .navbar-nav .nav-link {
    color: antiquewhite;
    /* font-family: inherit; */
    font-size: 22px;
}

.nav-link{
    
    font-weight: 500;
    font-size: 20px;
}
.navbar-light .navbar-brand{

    color: aquamarine;
}

a.nav-link:hover {
    background-color: aquamarine;
}
.navbar-light .navbar-brand:hover {
    color: tomato;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    background: aquamarine;
}

.homepage{
    background-color: #A1DDB2;
}

.col{
	padding-left: 0px;
	padding-right: 0px;
}

img {
    height: fit-content;
    width: 100%;
}

.container1{
    height: 200px;
    margin-top: 4px;
    
}

h2 {
    color: antiquewhite;
    font-weight: bolder;
}
.container1 {
    margin-top: 2px;
    height: 300px;
    background: currentColor;
}

.container2 {
    margin-top: 2px;
    height: 520px;
    background: currentColor;
}

.container3 {
    background-color: currentColor;
    margin: 40px;
}

.container4 {
    margin-top: 2px;
    height: 620px;
    background: currentColor;
}
.container7 {
    margin-top: 2px;
    height: 620px;
    background: currentColor;
}

.container5 {
    height: 500px;
    background: currentColor;
    margin-top: 2px;
}

.container6 {
    background-color: black;
    margin-top: 10px;
}

.container10{
  height: 35px;
  background-color: aqua;
}

.google i, .google span {
    color: #dd4b39;
}

.facebook i, .facebook span {
    color: #4267B2;
}
.form-control1 {
    /* display: block; */
    width: 400px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button1 {
    border-radius: 0;
    width: 100px;
    background: gold;
    height: 40px;
    margin-left: 20px;
}

.links1 {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
    /* margin-left: 540px; */
}

.details1 {
    background-color: transparent;
    display: inline-block;
    width: 400px;
}

.facebook, .google {
    height: 40px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 3px;
    margin: 0 10px;
    transition: .4s;
}

p1 {
    color: aquamarine;
    
}

h3 {
    color: #A1DDB2;
    font-size: 22px;
}

p.text-center.w-responsive.mx-auto.mb-5 {
    color: antiquewhite;
}

label {
    color: floralwhite;
}

button.btn.btn-primary {
    background: teal;
    margin: 10px;
}
form#contactform {
    margin: 15px;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
    margin: 10px;
}

.card {
  background: beige;
  margin-top: 57px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  margin-top: 2px;
  width: -webkit-fill-available;
}

footer{
	bottom: 0;
    margin:0 auto;
    width:100%;
    position:relative;
    overflow: hidden;
}
.links1 {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
    /* margin-left: 540px; */
}
.facebook1, .google1 {
    height: 40px;
    /* border: 1px solid silver; */
    /* border-radius: 3px; */
    margin: 0 10px;
    transition: .4s;
}

.team {
 
    padding: 60px 0;
  }
  
  .team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  }
  
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  
  .team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* background: url(../img/team-shape.svg) no-repeat center bottom; */
    background-size: contain;
    z-index: 1;
  }
  
  .team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: rgba(1, 41, 112, 0.5);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
  }
  
  .team .member .social a:hover {
    color: rgba(1, 41, 112, 0.8);
  }
  
  .team .member .social i {
    font-size: 18px;
  }
  
  .team .member .member-info {
    padding: 10px 15px 20px 15px;
  }
  
  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;
  }
  
  .team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
  }
  
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
  }
  
  .team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .team .member:hover .social {
    right: 8px;
    opacity: 1;
  }
  .container {
    background: currentColor;
    margin-top: 4px;
}

p{
    color: antiquewhite;
}

.about .content {
    background-color: aquamarine;
    padding: 40px;
  }
  
  .about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
  }
  
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
  }
  
  .about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
  
  .about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
  }
  
  .about .btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .about .btn-read-more:hover i {
    transform: translateX(5px);
  }

  button.ant-btn.ant-btn-primary.signup {
    height: 50px;
    font-weight: bold;
    background: aquamarine;
    color: black;
}

ul.ant-cascader-menu {
  height: auto;
}

.ant-form-item-control-input-content {
  display: -webkit-inline-box;
}

.ant-modal-header {
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.85);
  background: aquamarine;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

button.ant-btn.ant-btn-primary {
  background: aquamarine;
  font: message-box;
  color: black;
}
.btn-logout{
  margin-top: 50px;
  align-self: flex-end;
  color: #f0f1f1;
  background: #000;
  width: 200px;
  border-radius: 6px;
  display: block;
  background-image: linear-gradient(to left,#ED4C67,#006266,#ED4C67);
  padding: 20px;
  text-transform: uppercase;
  border:none;
  font-size: large;
  font-style: inherit;
  margin-left: auto;
}