h3 {
    text-align: start;
    height: 40px;
    
    font-size: x-large;
}


button {
    width: 150px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background: darkgreen;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.deny{
    background-color:crimson;
}
.container-fluid1 {
    border: 5.5px solid tomato;
    margin-top: 55px;
}
thead {
    border: 4px solid;
}
.table-bordered td, .table-bordered th {
    border: 2px solid #ac680b;
}
table.table.table-bordered.table-striped {
    margin-bottom: 20px;
    margin: 20px;
    display: unset;
}