list ul:nth-child(odd) {
    background-color:#ddd;
  }
  
  .list ul:nth-child(even) {
    background-color:#fff;
  }
  .center{
      margin-left: auto;
      margin-right: auto;
  }
  
  /* big */
  @media screen and (min-width:600px) {
    
    .list {
      display:table;
      margin:1em;
      margin-inline: inherit;
    }
   
    .list ul {
      display:table-row;
    }
    
    .list ul:first-child li {
      background-color:#444;
      color:#fff;
    }
    
    .list ul > li {
      display:table-cell;
      padding:.5em 1em;
    }
    
  }
  
  /* small */
  @media screen and (max-width:599px) {
    
    .list ul {
      border:solid 1px #ccc;
      display:block;
      list-style:none;
      margin:1em;
      padding:.5em 1em;
    }
    
    .list ul:first-child {
      display:none;
    }
    
    .list ul > li {
      display:block;
      padding:.25em 0;
    }
    
    .list ul:nth-child(odd) > li + li {
      border-top:solid 1px #ccc;
    }
    
    .list ul:nth-child(even) > li + li {
      border-top:solid 1px #eee;
    }
    
    .list ul > li:before {
      color:#000;
      content:attr(data-label);
      display:inline-block;
      font-size:75%;
      font-weight:bold;
      text-transform:capitalize;
      vertical-align:top;
      width:50%;
    }
    
    .list p {
      margin:-1em 0 0 50%;
    }
    
  }
  
  /* tiny */
  @media screen and (max-width:349px) {
      
    .list ul > li:before {
      display:block;
    }
    
    .list p {
      margin:0;
    }

    .welcome{
      border: darkblue;
      margin-top: 10px;
      height: 290px;
      background-color: darkcyan;
      margin-bottom: 10px;
    }
    .welcomeadmin{
      height: 250px;
      background-color: darkcyan;
    }
    .clickbutton{
      background-color: darkgreen;
    }

    
  
    
  }

  .sangai {
    display: flex;
}


button#workers {
  margin-top: 50px;
  align-self: flex-end;
  color: #f0f1f1;
  background: #000;
  width: 200px;
  border-radius: 6px;
  display: initial;
  background-image: linear-gradient(to left,#ED4C67,#006266,#ED4C67);
  padding: 20px;
  text-transform: uppercase;
  border: none;
  font-size: large;
  font-style: inherit;
  
}

button#hire {
  margin-top: 50px;
  align-self: flex-end;
  color: #f0f1f1;
  background: #000;
  width: 200px;
  border-radius: 6px;
  display: initial;
  background-image: linear-gradient(to left,#ED4C67,#006266,#ED4C67);
  padding: 20px;
  text-transform: uppercase;
  margin-left: 5px;
  border: none;
  font-size: large;
  font-style: inherit;
  
}